{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "theme": "./src/theme",
          "utils": "./src/utils",
          "fixtures": "./src/fixtures",
          "domains": "./src/domains",
          "models": "./src/redux/models",
          "config": "./src/config",
          "services": "./src/services",
          "selectors": "./src/selectors",
          "sagas": "./src/sagas"
        }
      }
    ]
  ]
}
