{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "theme": "./src/theme",
          "utils": "./src/utils",
          "fixtures": "./src/fixtures",
          "domains": "./src/domains"
        }
      }
    ]
  ]
}
