{
  "extends": "rallycoding",
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".ios.js", ".android.js", ".json"],
        "alias": {
          "components": "./src/components",
          "theme": "./src/theme",
          "utils": "./src/utils",
          "fixtures": "./src/fixtures",
          "domains": "./src/domains"
        }
      }
    }
  }
}
